*{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    color: #040316;
    
  }


body{
  background-color: #FEF0D5;
  margin: auto;
  
 
}
header{ /*isso aqui é a logo e as opções de escolha da pagina*/
  display: flex; /* pra ficar um do lado do outro */
  background-color: #003068;
  justify-content: space-between; 
  align-items: center; /* alinhas */
  padding: 16px;
  
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px; /* espaçamento entre os filhas */
  color: #040316;
  
}

header nav ul/* dá para selecionar um conjunto de especifico*/ {
  display: flex;
  gap: 20px;
  list-style: none;
}
.logo img{
    width: 35px;
    height: 35px;
    border-radius: 20%;
    border: 4px solid #040316;}
.logo h1 {
    color: #FEF0D5;
}
header h1{
    color: #FEF0D5;
}

button{
    height: 60px;
    width: 80px;
    background-color: #003068;
    color: #FEF0D5;
    border-radius: 10px;
}
.login{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.beneficiomebro{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    margin: 20px;
}
.servi{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}
section{
  display: flex;
  justify-content: end;
  flex-direction: column;
  margin-top: 70px;
  margin-left: 20px;
}
a{
  color: #F6EDD9;
  text-decoration: none;
}
